@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
.contaion {
    background-color: white;
    margin: 0 20px 0 20px;
    padding-bottom: 40px;
    min-height: 100%;
}
.contaion h1 {
    padding: 10px 0 0 30px;
}
.contaion img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.request_field {
    position: relative;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 18px;
    width: calc(100% - 50px);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: ease 0.3s all;
}
.request_field:hover {
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.315) 0px 4px 8px;
}
table .user {
    width: 100px;
    text-align: center;
}
table .user {
    width: 100px;
    text-align: center;
}
table .time_rq {
    position: absolute;
    width: 250px;
    right: 0;
}
table .time_app {
    position: absolute;
    width: 250px;
    right: 300px;
}
.request_field table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
td,
th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
table .status {
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.status.wait {
    background-color: #f9bc0d;
}
.status.success {
    background-color: #15e47c;
}
.status.cancel {
    background-color: #fd1d1d;
}

.header_content {
    margin: 10px 0 10px 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.header_content .header {
    display: flex;
    flex-direction: row;
}

.dropdown {
    position: relative;
    background-color: rgba(237, 237, 241, 0.911);
    height: 40px;
    min-width: 150px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
.dropdown_list {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    width: 100%;
    z-index: 10;
    top: 45px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.dropdown.close .dropdown_list {
    display: block;
}
.dropdown_list li {
    display: flex;
    flex-direction: row;
    padding: 5px 0 10px 10px;
}
.dropdown_list li:hover .all{
    outline:none;
}
.dropdown_list li:hover {
    background-color: #fd1d1d;
    color: white;
    border-radius: 4px;
}
.dropdown .icon {
    position: absolute;
    right: 7px;
    top: 10px;
}
.dropdown .header {
    position: absolute;
    left: 10px;
    top: 7px;
    font-size: 15px;
}
.approve {
    background-color: #15e47c;
    margin: 8px 10px 0 0;
    width: 10px;
    height: 10px;
    outline: solid 1px white;
}
.null_st {
    background-color: #ffffff;
    margin: 8px 10px 0 0;
    width: 10px;
    height: 10px;
    outline: solid 1px white;
}
.reject {
    background-color: #fd1d1d;
    margin: 8px 10px 0 0;
    width: 10px;
    height: 10px;
    outline: solid 1px white;
}
.wait {
    background-color: #f9bc0d;
    margin: 8px 10px 0 0;
    width: 10px;
    height: 10px;
    outline: solid 1px white;
}
.all {
    background-color: #ffffff;
    margin: 8px 10px 0 0;
    width: 10px;
    height: 10px;
    outline: solid 1px rgb(201, 201, 201);
}
.dropdown_list li:hover .all{
    outline:none;
}
.title_search {
    margin: 10px;
}
.err{
    color: rgb(255, 0, 0);
    position: absolute;
    left: 40px;
    font-size: 20px;
}
.err.password{
    top: 236px;
}
.err.employee{
    top: 203px;
}
.datetime {
    padding: 0 10px 0 10px;
    min-width: 195px;
    max-width: 195px;
    border-radius: 5px;
    outline: 0.5px solid rgb(102, 102, 102);
    border: none;
    margin-right: 10px;
    height: 35px;
    margin-top: 5px;
}
.search_input {
    padding: 0 10px 0 10px;
    min-width: 195px;
    max-width: 195px;
    border-radius: 4px;
    outline: 0.5px solid rgb(102, 102, 102);
    border: none;
    margin-right: 10px;
    height: 35px;
    margin-top: 5px;
}
.not_found {
    text-align: center;
    color: #adadad;
}
.modal_cancel{
    display: none;
    position: fixed;
    z-index: 200;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal_content {
    text-align: center;
    border-radius: 4px;
    margin: auto;
    position: relative;
    background-color: #fefefe;
    width: 400px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.modal_content button {
    border: none;
    padding: 7px 10px 7px 10px;
    margin: 0 5px 25px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
    outline: none;
}
.cancel_btn {
    color: #ffffff;
    background-color: #fd1d1d;
}
.cancel_btn:hover {
    color: white;
    background-color: #e21111;
}
.modal_content .header{
    background-color: #fd1d1d;
    color: white;
    border-radius: 4px 4px 0 0;
    height: 150px;
}
.modal_content  .icon{
    font-size: 70px;
    margin-top: 20px;
}
.modal_content .body p{
    margin: 10px 0 10px 0;
}
.modal_content .body table {
    width: 300px;
    text-align: start;
    margin-left: 60px;
}
.modal_content .body table td{
    padding-top: 5px;
}
.modal_content .body table input{
    padding: 2px;
}
.modal_content .footer{
    margin-top: 20px;
}
@media only screen and (max-width: 800px) {
    .contaion h1 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 1330px) {
    .dropdown {
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    table .time_rq {
        display: none;
    }
}
@media only screen and (max-width: 1300px) {
    table .time_app {
        display: none;
    }
}
@media only screen and (max-width: 1050px) {
    .datetime,
    .title_search {
        display: none;
    }
}
